<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.sapietia.ms.carinformation">

    <uses-permission android:name="android.perission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.perission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".Activity.Activity.Login.FirstActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Activity.Login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Activity.Login.RegistrationActivity"
            android:label="@string/title_activity_confirm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Activity.Login.TermsAndConditions"
            android:label="@string/title_activity_terms_and_conditions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Activity.Main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.Activity.Menu.ProfileActivity" />
        <activity android:name=".Activity.Activity.Menu.SettingsActivity" />
        <activity android:name=".Activity.Activity.Menu.AboutActivity" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/model" />

        <activity android:name=".Activity.Activity.Main.AddItemActivity" />
        <activity android:name=".Activity.Activity.Main.ItemInformation"></activity>

    </application>

    <uses-feature android:name="android.hardware.camera" android:required="false">

    </uses-feature>
</manifest>